## Directorios del IDE (Ignora todo .idea de golpe)
.idea/

## Archivos de proyecto y configuración local
*.iml
*.ipr
*.iws
local.properties

## Archivos generados y carpetas de compilación
.gradle/
build/
/*/build/
captures/

## Compilación nativa (C/C++)
.externalNativeBuild/
.cxx/
ndkBuild/

## Archivos del sistema operativo
.DS_Store
Thumbs.db

## Archivos de registro y caché
*.log
.shelf/
